<footer class="main-footer">
  <strong>GitHub:</strong> <a href="https://github.com/citusdata/citus-example-ad-analytics">https://github.com/citusdata/citus-example-ad-analytics</a>
  <pre style="overflow: scroll; max-height: 10em; margin: 10px 0 0">SQL_MONITOR</pre>
</footer>
